:root{
    font-family: roboto;
    color: white;
}
@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

body{  
    padding: 5px 60px;
    
    background-size: 100% 100%;
    background-position: 0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px,
    0px 0px;
    background-image: radial-gradient(18% 28% at 24% 50%, #CEFAFFFF 7%, #073AFF00 100%),
    radial-gradient(18% 28% at 18% 71%, #FFFFFF59 6%, #073AFF00 100%),
    radial-gradient(70% 53% at 36% 76%, #73F2FFFF 0%, #073AFF00 100%),
    radial-gradient(42% 53% at 15% 94%, #FFFFFFFF 7%, #073AFF00 100%),
    radial-gradient(42% 53% at 34% 72%, #FFFFFFFF 7%, #073AFF00 100%),
    radial-gradient(18% 28% at 35% 87%, #FFFFFFFF 7%, #073AFF00 100%),
    radial-gradient(31% 43% at 7% 98%, #FFFFFFFF 24%, #073AFF00 100%),
    radial-gradient(21% 37% at 72% 23%, #D3FF6D9C 24%, #073AFF00 100%),
    radial-gradient(35% 56% at 91% 74%, #8A4FFFF5 9%, #073AFF00 100%),
    radial-gradient(74% 86% at 67% 38%, #6DFFAEF5 24%, #073AFF00 100%),
    linear-gradient(125deg, #4EB5FFFF 1%, #4C00FCFF 100%);

    transform: rotate(90);
}
h1{
    font-size: 5.2rem;
}
.writer{
    font-size: 5.2rem;
    font-weight:700;
    overflow: hidden;
    border-right: 4px solid white;
    white-space: nowrap;
    max-width: fit-content;
    margin: auto auto;
    animation:  typing 4s steps(40,end) forwards;

}
.subtext{
    color: rgb(255, 242, 176);
    font-size: 1.8rem;
    opacity: 0%;
    animation: fadein 1s forwards;
    animation-delay: 1.5s;
    
}

@keyframes fadein {
    from {opacity: 0%;}
    to {opacity: 100%;}


    
}
@keyframes typing {
    0% {width: 0;}
    90% {width: 100%;}
    100%{border-right: none;}
    
}






.title{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.image_and_health{
    margin-top: 10px;
    display:flex;
    background-color: rgba(196, 213, 213, 0.518);
    border-radius: 12px;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 400px;
}

.earthimage {
    /* border: 4px solid black; */
    /* background-color: aliceblue; */
    background-color: transparent;
    margin: 0;
    padding: 0;
    object-fit:contain;
    max-width: inherit;
    height: inherit;
    transform: translateX(-300%);

    
    animation: comein 2s forwards;
    animation-delay: 2s ;
}

@keyframes comein {
    from {transform: translateX(-300%);}
    to{transform: translateX(0%);}
    
}

/* .earthimage:hover{
    box-shadow: 0px 0px 10px 20px rgba(88, 144, 255, 0.714);
    border-radius: 12px;
} */

.earthimage_container{

    height: inherit;
    display: flex;
    justify-content: center;
}
.current_health_text{
    display: grid;
    align-items: center;
    justify-content:baseline;
    text-align: center;
    font-size:4rem;

}

.percentage{
    
    counter-set: num var(--num);
    animation: countup 6s forwards ;
    animation-delay: 3s;
    
    
}

.percentage::after {
    content: counter(num) "%";
}
@keyframes countup {
    from{--num: 100;color: rgb(99, 217, 99);}
    to {--num:76;color: rgb(255, 200, 0);}
}
  

.current_health_text div{
    font-size: 4rem;
}

.end{
    height: 3000px;
}